.headerDiv{
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
    margin-bottom: 100px;
}

.logoImage{
    margin-right: 100px;
}

.links{
    margin-left: auto;
    margin-right: -550px;
    padding: 10px 30px;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}

.links:hover, .loginLink:hover{
    background-color: #6356E5;
}

.loginLink{
    margin-left: auto;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    font-size: 18px;
}

@media (max-width: 1500px) {
    .links{
        margin-right: -150px;
    }
}

@media (max-width: 1040px) {
    .links{
        margin-right: -80px;
    }
}

@media (max-width: 920px) {
    .links{
        visibility: hidden;
    }
}

@media (max-width: 620px) {
    .loginLink{
        margin-left: -150px;
    }
}

@media (max-width: 520px) {
    .loginLink{
        margin-left: -250px;
    }
}