.mainDiv{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: auto;
}
.nameDiv{
    color: #800080;
    font-size: 20px;
}

.profileImage{
    width: 65px;
    height: 65px;
    cursor: pointer;
}

.dropdownStyle{
    text-align: center;
    width: 200px;
    height: auto;
    position: absolute;
    margin-left: -150px;
    background-color: #1B1B23;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.dropDownDivs{
    padding: 10px;
    border: 2px solid #555;
    border-radius: 5px;
}

.dropDownDivs:hover{
    background-color: #1F1F27;
}

.dropDownLinks{
    text-decoration: none;
    color: white;
}

@media (max-width: 520px) {
    .mainDiv{
        width: 100%;
        display: flex;
        flex-direction: row;
        margin-left: auto;
    }
    .dropdownStyle{
        text-align: center;
        width: 120px;
        height: auto;
        position: absolute;
        margin-left: -90px;
        background-color: #1B1B23;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
    }
    .profileImage{
        width: 50px;
        height: 50px;
        cursor: pointer;
        margin-left: auto;
    }
    .nameDiv{
        margin-left: 0;
    }
    .dropDownDivs{
        padding: 7px;
    }
    .spaceDiv{
        width: 80%;
    }
}
/*
@media (max-width: 519px) {
    .profileImage{
        margin-left: 395px;
    }
}
@media (max-width: 516px) {
    .profileImage{
        margin-left: 390px;
    }
}
@media (max-width: 511px) {
    .profileImage{
        margin-left: 385px;
    }
}
@media (max-width: 506px) {
    .profileImage{
        margin-left: 380px;
    }
}
@media (max-width: 501px) {
    .profileImage{
        margin-left: 378px;
    }
}
*/