.triangleDivOuter {
    width: 0;
    height: 0;
    border-left: 20px solid transparent; /* Leva ivica */
    border-right: 20px solid transparent; /* Desna ivica */
    border-bottom: 23px solid #555; /* Donji trougao bez bele ivice */
    position: absolute;
    margin-top: -33px;
    margin-left: 180px;
}

.profileImage{
    width: 63px;
    height: 63px;
    border-radius: 50px;
    border: 2px solid var(--main-color);
    cursor: pointer;
}

.dropdownStyle{
    margin-top: 15px;
    text-align: center;
    width: 245px;
    height: auto;
    position: absolute;
    margin-left: -190px;
    background-color: #1B1B23;
    border: 2px solid #555;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.submitButton{
    padding: 8px 40px;
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-size: 18px;
}

.submitButton:hover{
    background-color: var(--main-color-hover);
}

.totalPriceDiv{
    color: white;
    font-size: 20px;
    margin-top: -5px;
    margin-bottom: 10px;
}

input {
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #1F1F27;
    color: #fff;
    font-size: 15px;

}

label{
    margin-right: 170px;
    font-size: 15px;
}

.cityLabel{
    margin-right: 200px;
}