.headerDiv{
    display: flex;
    align-items: center;
    flex-direction: row;
    max-width: 100%;
}
.cartAndProfileDiv{
    margin-left: auto;
    display: flex;
    align-items: center;
    flex-direction: row;
}
.logoImage{
    margin-right: 100px;
}

.loginLink:hover{
    background-color: #800080;
}

.loginLink{
    margin-left: auto;
    padding: 10px 30px;
    border: none;
    border-radius: 5px;
    color: #fff;
    cursor: pointer;
    text-decoration: none;
    font-size: 22px;
}

.LinksDiv{
    /*style={{backgroundColor:"red", width:"100%", marginBottom: "100px"}}*/
    margin-top: 10px;
    margin-bottom: 50px;
    display: flex;
    flex-direction: row;
    color: #fff;
    text-align: center;
    font-size: 22px;
}

.Links{
    width: 33.3%;
    color: #fff;
    font-size: 22px;
    padding: 2px;
    cursor: pointer;
    text-decoration: none;
    background-color: #14141a;
}

.LinksBorder{
    border-right: 0px solid #fff;
}

.Links:hover{
    /*border: 1px solid #fff;*/
    background-color: purple;
}


@media (max-width: 620px){
    .LinksDiv{
        font-size: 20px;
    }
    
    .Links{
        font-size: 20px;
    }
}

@media (max-width: 520px) {
    .headerDiv{
        display: flex;
        flex-direction: column;
        text-align: center;
        max-width: 100%;
    }
    .LinksDiv{
        display: flex;
        flex-direction: column;
        margin-top: 0px;
    }
    .Links{
        width: 99%;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        text-decoration: none;
        padding: 2px;
    }
    .LinksBorder{
        border-right: 0px;
    }
    .loginLink{
        margin-left: -80px;
    }
    .logoImage{
        margin: 0;
    }
    .loginLink{
        width: 99%;
        color: #fff;
        font-size: 20px;
        cursor: pointer;
        text-decoration: none;
        padding: 2px;
        margin-left: 0px;
        background-color: #14141a;
        margin-top: 10px;
    }
}