.mainDiv{
    align-items: center;
    margin-left: auto;
}
.nameDiv{
    color: #800080;
    font-size: 18px;
    margin-top: -5px;
}
.triangleDivOuter {
    width: 0;
    height: 0;
    border-left: 20px solid transparent; /* Leva ivica */
    border-right: 20px solid transparent; /* Desna ivica */
    border-bottom: 23px solid #555; /* Donji trougao bez bele ivice */
    position: absolute;
    margin-top: -33px;
    margin-left: 160px;
}
.profileImage{
    width: 63px;
    height: 63px;
    border-radius: 50px;
    border: 2px solid #800080;
    cursor: pointer;
}

.dropdownStyle{
    margin-top: 15px;
    text-align: center;
    width: 200px;
    height: auto;
    position: absolute;
    margin-left: -160px;
    background-color: #1B1B23;
    border: 2px solid #555;
    color: #fff;
    padding: 10px;
    border-radius: 5px;
}

.dropDownDivs{
    padding: 10px;
    border: 2px solid #555;
    border-radius: 5px;
}

.dropDownDivs:hover{
    background-color: #1F1F27;
}

.dropDownLinks{
    text-decoration: none;
    color: white;
}

@media (max-width: 520px) {
    .mainDiv{
        width: 100%;
    }
    .dropdownStyle{
        text-align: center;
        width: 120px;
        height: auto;
        position: absolute;
        margin-left: -90px;
        background-color: #1B1B23;
        color: #fff;
        padding: 10px;
        border-radius: 5px;
    }
    .profileImage{
        width: 50px;
        height: 50px;
        cursor: pointer;
        margin-left: auto;
    }
    /*.nameDiv{
        margin-left: -10px;
    }*/
    .dropDownDivs{
        padding: 7px;
    }
}
/*
@media (max-width: 519px) {
    .profileImage{
        margin-left: 395px;
    }
}
@media (max-width: 516px) {
    .profileImage{
        margin-left: 390px;
    }
}
@media (max-width: 511px) {
    .profileImage{
        margin-left: 385px;
    }
}
@media (max-width: 506px) {
    .profileImage{
        margin-left: 380px;
    }
}
@media (max-width: 501px) {
    .profileImage{
        margin-left: 378px;
    }
}
*/