body{
    display: flex;
    flex-direction: row; 
    justify-content: center; 
    align-items: center; 
    margin: 0; 
    font-family: Arial;
    background-color: black;
}

#root{
    border: 2px solid blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; 
    max-width: 100%; 
}