body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0;
    font-family: Arial;
    /*background-color: #f8f8f8;*/
    background-color: #1B1B23;
}
:root{
    --main-color: #ffa500;/*660166 - purple *** e7b51e - yellow*/
    --main-color-hover: #e69500;/*460146 - purple *** c49303 - yellow*/
}
#root{
    max-width: 1920px;
    width: 100%;

   /* max-width: 100%; 
    border: 2px solid blueviolet;
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center; */
}
/*
@media (max-width: 1500px) {
    #root{
        width: 1400px;
    }
}

@media (max-width: 1040px) {
    #root{
        width: 900px;
    }
}

@media (max-width: 920px) {
    #root{
        width: 800px;
    }
}

@media (max-width: 800px) {
    #root{
        width: 600px;
    }
}

@media (max-width: 620px) {
    #root{
        width: 500px;
    }
}

@media (max-width: 520px) {
    #root{
        width: 400px;
    }
}*/