.wrapper {
    display: grid;
    grid-template-rows: 1fr auto; /*glavni sadrzaj raste koliko moze, footer ostaje dole*/
    min-height: 100vh; /*cela visina ekrana*/
}

.dropdownInput {
    width: 30%;
    padding: 10px;
    margin-bottom: 10px;
    margin-left: 7px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: var(--main-color);
    color: white;
    font-size: 30px;
    appearance: none;
    background-image: url('../../images/dowpDownBgImage.png');
    background-repeat: no-repeat;
    background-position: right center;
}

.dropdownInput:focus {
    outline: none;
}

.dropdownInput option {
    background-color: var(--main-color);
    color: white; 
}

.selectDiv{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.memberNumber{
    color: white;
    font-size: 30px;
}

.membersDiv{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
}

@media(max-width: 1000px){
    .dropdownInput {
        width: 32%;
        font-size: 25px;
    }
    .memberNumber{
        font-size: 25px;
    }
}

@media(max-width: 700px){
    .dropdownInput {
        width: 35%;
        font-size: 25px;
    }
}

@media(max-width: 600px){
    .dropdownInput {
        width: 37%;
        font-size: 25px;
    }
}

@media(max-width: 550px){
    .dropdownInput {
        width: 40%;
        font-size: 20px;
    }
    .memberNumber{
        font-size: 20px;
    }
}

@media(max-width: 450px){
    .dropdownInput {
        width: 45%;
        font-size: 20px;
    }
}

@media(max-width: 400px){
    .dropdownInput {
        width: 48%;
        font-size: 18px;
    }
}

@media(max-width: 350px){
    .dropdownInput {
        width: 50%;
        font-size: 18px;
    }
}

@media(max-width: 340px){
    .dropdownInput {
        width: 55%;
        font-size: 18px;
    }
}