.mainDiv{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-size: 18px;
}

.topDiv{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}


/*--- ApplyImage Card ---*/
.applyImageCardMainDiv{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    font-size: 20px;
}
.leagueImage{
    border: 1px solid #525252;
    background-color: var(--main-color-hover);
    width: 300px; 
    height: 300px;
    margin-bottom: 10px;
}

/*--- Requirements Card ---*/
.RequirementsCardMainDiv{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 5px;
}
.applyButton{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 50px;
    background-color: var(--main-color);
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}
.applyButton:hover{
    background-color: var(--main-color-hover);
}

.applyButton:disabled, .applyButton:disabled:hover{
    background-color: gray;
}

/*--- Rules Card ---*/
.rulesCardMainDiv{
    width: 50%;
    margin-top: 20px;
}

.headres{
    font-size: 20px;
    
}

.exercise{
    font-size: 20px;
    text-decoration: var(--main-color-hover) underline;
    color: gray;
}

.youtubeUpload{
    color: red;
}

.youtubeUpload2{
    border: 2px solid var(--main-color-hover);
}

/*--- ApplyModal ---*/

.modalOverlay {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    overflow-y: auto;
    /*align-items: center;*/
    z-index: 999;
}
  
.modalContent {
    border: 2px solid var(--main-color-hover);
    background-color: #1B1B23;
    padding: 10px;
    border-radius: 4px;
    width: 425px;
    text-align: left;
    margin: auto; /*osigurava da modal ostane u sredini*/
}

.formModal label {
    font-size: 18px;
}

.formModal input{
    width: 94%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #1F1F27;
    color: #fff;
    font-size: 15px;
}


.buttonsDiv{
    display: flex;
}

.closeButton {
    margin-left: auto;
    padding: 10px 20px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.closeButton:hover {
    background-color: #1F1F27;
}

.applyButtonModal {
    margin-left: 5px;
    margin-right: 6px;
    padding: 10px 20px;
    background-color: var(--main-color);
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.applyButtonModal:hover {
    background-color: var(--main-color-hover);
}

@media(max-width: 1200px){
    .rulesCardMainDiv{
        width: 70%;
    }
}

@media(max-width: 850px){
    .rulesCardMainDiv{
        width: 70%;
    }
}

@media(max-width: 640px){
    .topDiv{
        display: flex; 
        flex-direction: column; 
        justify-content: center; 
        align-items: center;
    }
    .RequirementsCardMainDiv{
        margin-left: 0px;
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .rulesCardMainDiv{
        width: 60%;
    }
}

@media(max-width: 520px){
    .leagueImage{
        width: 240px; 
        height: 240px;
    }
    .rulesCardMainDiv{
        width: 70%;
    }
}

/*max-height apply modal*/
/*
@media(max-height: 800px){
    .modalContent {
        font-size: 16px;
    }    
    .formModal label {
        font-size: 14px;
    }
    .modalContent {
        width: 380px;
    }
    .formModal input{
        width: 97%;
        padding: 4px;
        margin-bottom: 1px;
        border: 1px solid #555;
        border-radius: 5px;
        background-color: #1F1F27;
        color: #fff;
        font-size: 14px;
    }
    .closeButton {
        padding: 5px 10px;
        font-size: 14px;
    }
    
    .applyButtonModal {
        padding: 5px 10px;
        font-size: 14px;
    }
}

@media(max-height: 530px){
    .modalContent {
        font-size: 14px;
    }    
    .formModal label {
        font-size: 12px;
    }
    .modalContent {
        width: 350px;
    }
    .formModal input{
        font-size: 12px;
    }
    .closeButton {
        padding: 5px 10px;
        font-size: 12px;
    }
    
    .applyButtonModal {
        padding: 5px 10px;
        font-size: 12px;
    }
}

@media(max-height: 470px){
    .modalContent {
        font-size: 12px;
    }    
    .formModal label {
        font-size: 12px;
    }
    .modalContent {
        width: 300px;
    }
    .formModal input{
        font-size: 12px;
    }
    .closeButton {
        padding: 4px 8px;
        font-size: 12px;
    }
    
    .applyButtonModal {
        padding: 4px 8px;
        font-size: 12px;
    }
}

*/



















/*
.dragDropArea {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.dragDropArea.active {
    background-color: #f0f8ff;
    border-color: #007bff;
}

.removeFileButton {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.removeFileButton:hover {
    background-color: #ff1a1a;
}

.hiddenFileInput {
    display: none; 
}

.uploadButton {
    display: inline-block;
    background-color: #660166;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.uploadButton:hover {
    background-color: #580258; 
}*/
