.mainDiv{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    flex-wrap: wrap;
    color: white;
    font-size: 18px;
}

.topDiv{
    display: flex; 
    flex-direction: row; 
    justify-content: center; 
    align-items: center;
}


/*--- ApplyImage Card ---*/
.applyImageCardMainDiv{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    font-size: 20px;
}
.leagueImage{
    border: 1px solid #525252;
    background-color: #660166;
    width: 300px; 
    height: 300px;
    margin-bottom: 10px;
}

/*--- Requirements Card ---*/
.RequirementsCardMainDiv{
    display: flex; 
    flex-direction: column; 
    justify-content: center; 
    align-items: center;
    font-size: 20px;
    margin-left: 50px;
    margin-top: 50px;
    margin-bottom: 5px;
}
.applyButton{
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 50px;
    background-color: #660166;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    text-decoration: none;
    font-size: 20px;
}
.applyButton:hover{
    background-color: #460146;
}

.applyButton:disabled, .applyButton:disabled:hover{
    background-color: gray;
}

/*--- Rules Card ---*/
.rulesCardMainDiv{
    width: 50%;
}

.headres{
    font-size: 20px;
    
}

.exercise{
    font-size: 20px;
    text-decoration: #660166 underline;
    color: gray;
}

/*--- ApplyModal ---*/

.modalOverlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #00000080;
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 999;
}
  
.modalContent {
    border: 2px solid #660166;
    background-color: #1B1B23;
    padding: 10px;
    border-radius: 4px;
    width: 400px;
    text-align: left;
}

.formModal label {
    font-size: 20px;
}

.formModal input{
    width: 94%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #555;
    border-radius: 5px;
    background-color: #1F1F27;
    color: #fff;
    font-size: 15px;
}


.buttonsDiv{
    display: flex;
}

.closeButton {
    margin-left: auto;
    padding: 10px 20px;
    background-color: #555;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.closeButton:hover {
    background-color: #1F1F27;
}

.applyButtonModal {
    margin-left: 5px;
    margin-right: 6px;
    padding: 10px 20px;
    background-color: #660166;
    border: none;
    border-radius: 5px;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
}

.applyButtonModal:hover {
    background-color: #580258;
}

.dragDropArea {
    border: 2px dashed #ccc;
    border-radius: 8px;
    padding: 20px;
    text-align: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.dragDropArea.active {
    background-color: #f0f8ff;
    border-color: #007bff;
}

.removeFileButton {
    background-color: #ff4d4d;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 5px 10px;
    cursor: pointer;
}

.removeFileButton:hover {
    background-color: #ff1a1a;
}

.hiddenFileInput {
    display: none; 
}

.uploadButton {
    display: inline-block;
    background-color: #660166;
    color: white;
    padding: 5px 10px;
    font-size: 14px;
    border-radius: 5px;
    cursor: pointer;
    text-align: center;
    border: none;
    margin-top: 5px;
    margin-bottom: 5px;
}

.uploadButton:hover {
    background-color: #580258; 
}
