.wholeDiv1{
    display: flex;
    flex-direction: column;
    margin-left: auto;
}

.wholeDiv2{
    display: flex;
    flex-direction: column;
}

.mainDiv1{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
    margin-left: auto;
}

.mainDiv2{
    display: flex;
    flex-direction: row;
    margin-bottom: 10px;
}

.replyDiv1{
    margin-left: auto;
    padding: 5px;
    background-color: #7e417e;
    border-radius: 20px;
    align-items: baseline;
    position: relative;
}

.contentReply{
    background-color: #9b6a9b;
    padding: 2px;
    border-radius: 10px;
    max-width: 20ch;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.replyDiv2{
    margin-right: auto;
    padding: 5px;
    background-color: #7e417e;
    border-radius: 20px;
    align-items: baseline;
    position: relative;
}

.athleteImage{
    width: 50px;
    height: 50px;
    border-radius: 20px;

}

.contentDiv{
    display: flex;
    flex-direction: row;
    margin-left: auto;
    padding: 5px;
    background-color: #800080;
    border-radius: 20px;
    align-items: baseline;
    position: relative;
    white-space: pre-wrap;
    word-wrap: break-word;
    overflow-wrap: break-word;
}

/*!!!trebace sa media da se menja!!!*/
.textContentDiv{
    max-width: 345px;
}
.moreButton{
    /*visibility: hidden;*/
    background: transparent;
    border: none;
}
/*.contentDiv:hover .moreButton{
    isibility: visible;
}*/

.moreButton2{
    background: transparent;
    border: none;
}

.arrowImage{
    width: 25px;
    height: 18px;
}


.timeDiv{
    font-size: 12px;
    position: absolute;
    bottom: 0;
    right: 0;
    transform: translateX(-35%);
}

.timeAndButtonDiv{
    display: flex;
    align-items: baseline;
}



.usernameAndContentDiv{
    display: flex;
    flex-direction: column;
    align-items: left;
}

.nameAndContentDiv{
    display: flex;
    flex-direction: row;
    padding: 2px;
    background-color: #800080;
    border-radius: 20px;
}

.deletedMessage, .deletedMessage2{
    border: 1px solid gray;
    padding: 5px;
    margin-bottom: 10px;
    background-color: rgb(163, 163, 163);
    border-radius: 20px;
}

.deletedMessage{
    margin-left: auto;
}

.deletedMessage2{
    margin-right: auto;
}