.dropdownStyle{
    position: absolute;
    margin-top: 15px;
    text-align: center;
    z-index: 1000;
    background-color: black;
    border: 2px solid var(--main-color);
    width: 60px;
    margin-left: -30px;
    border-radius: 5px;
    padding: 1px;
}

.buttons{
    width: 60px;
    padding: 1px;
    background-color: var(--main-color);
    border: none;
    color: black;
    border-radius: 5px;
    cursor: pointer;
}

.buttons:hover{
    background-color: var(--main-color-hover);
}
.marginStyle{
    margin-bottom: 1px;
}